# Archivo de configuración de ejemplo
# Cópialo como .env y coloca los datos reales.

RABBITMQ_HOST=X.X.X.X  # Cambiar por la IP real del equipo
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/